@charset "UTF-8";

body{
    margin: 0px;
   
}
.head{
    background: url(../resources/images/jh_main.jpg) no-repeat;
    background-size: 100% 300%;
    background-position: 40%;
    width: 100%;
    height: 300px;
    opacity: 0.7;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.head p{
    position: absolute;
    left: 735px ; top:75px;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 1;
   
}
.table1{
    width: 100%;
    height: 70px;
    text-align: center;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 17px;
    
}
.td1{
    background: rgba(150,150,150,0.1);
    border-left:1px dotted rgba(150, 150, 150, 0.4);
    
    
}
td a{
    text-decoration: none;
    color: rgba(100,100,100,1);
}


form{
    margin: 0px 35% 0px
}



.footer{
    margin-top: 30px;
    background:rgba(150, 150, 150, 0.4);
    border: 1px solid #000;
    width: 100%;
    height: 200px;
}

.table3{
    
    
    width: 100%;
}

.tr3{
    height: 50px;
}

th{
    width: 150px;
}

pnl,pnl2{
    width: 70px;
}