
body{
    margin: 0px;
}
.must{
    color: red;
 }
    
.p1{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

.ctb tr td{
    text-align: center;
    vertical-align: middle;
}
input{
    height: 25px;
    border: 1px solid #000;
    border-radius: 3px;
}
.signup{
    margin-bottom: 100px;
   
}
.head{
    background: url(../resources/images/jh_main.jpg) no-repeat;
    background-size: 100% 300%;
    background-position: 40%;
    width: 100%;
    height: 300px;
    opacity: 0.7;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.head p{
    position: absolute;
    left: 735px ; top:75px;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 1;
   
}
.table1{
    width: 100%;
    height: 70px;
    text-align: center;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 17px;
    
}
.td1{
    background: rgba(150,150,150,0.1);
    border-left:1px dotted rgba(150, 150, 150, 0.4);
    
    
}
td a{
    text-decoration: none;
    color: rgba(100,100,100,1);
}


form{
    margin: 0px 35% 0px;
        
}

.table2{
  
    width: 500px;
}
.table2 tr td{
    width: 100px;
    padding-left: 50px;
    padding-top: 5px;
}
.footer{
    margin-top: 30px;
    background:rgba(150, 150, 150, 0.4);
    border: 1px solid #000;
    width: 100%;
    height: 200px;
}
#birthday{
    width: 54%;
   
}
.table3{
    
    
    width: 100%;
}

.tr3{
    height: 50px;
}

th{
    width: 150px;
    text-align: left;
    vertical-align: bottom;
    line-height: 5px;
    padding:30px 0px 10px 50px;
   
    font-size: 18px;
    border-bottom: 1px solid #333;
    
}

.button1{
    background-color: rgb(10, 151, 3);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    vertical-align: middle;
    width: 200px;
    height: 40px;
    margin: 20px 10px 0px;
}
.button2{
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    vertical-align: middle;
    height: 40px;
    margin: 20px 10px 0px;
}

.noLineHeight{
    line-height: 0px;

}
.preferp{
    font-size: 17px;
}
.prefer{
    translate: 0px 6px;
}

#hpn{
    width: 70px;
    height: 28px;
    margin-right: 10px;
    font-size: 16px;
    translate: 0px 2px;
}
.gender{
    
    translate: 0px 7px;
}

.searchAddress{
    background-color: yellow;
    width: 30%;
    font-size: 14px;
    font-weight: bold;
}
.address_1{
    width: 210px;
    margin-bottom: 10px;
}